.imageStyle{
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: auto;
    overflow: hidden;
    img {
        width: 100vw;
        overflow: hidden;
    }
    
}


.adminHeader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    // background-color: rgba(255,255,255,0.6); 
    background-image: linear-gradient( rgba(224, 226, 226, 0.8),#0B0E0F00);

    z-index: 1; 
    width: 100vw;
    height: 59.3vw;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: $poppins;
} 
#adminHeader {
    font-family: $poppins;
    color: whitesmoke;
    border: 2vw solid whitesmoke;
    // height: 12vw;
    display: grid;
    text-align: center;
    align-content: center;
    font-size: 11vw;
    font-weight: bold;
    padding: 3vw;
    @include boxShadow(0px);
    @include textShadow(13px, 0.5)

}

.adminBody{
    position: relative;
    margin: 50vw auto 5vw auto;
    width: 90vw;
    background-color: whitesmoke;
    z-index: 3;
    border-radius: 20px;
    @include boxShadow(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7.5vw;
    // background-image: url('pproject_back_1.jpg');

}

.accountInfo{
    width: 80vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: $poppins;
    font-size: 2vw;
    margin-top: 7.5vw;
    color: whitesmoke;  
    background-color: $navy;
    border-radius: 0px 25px 25px 0;
        
    @include boxShadow(3px);
    #profilePic{
        width: 10vw;
        border-radius: 50%;
        @include boxShadow(1px);
    }

}

.newForm {
    width: 80vw;
    height: auto;
    background-color: whitesmoke;
    border-radius: 0px 25px 0px 0;    
    font-family: $poppins;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    margin-top: 3.75vw;
    padding: 3vw;
    @include boxShadow(1px);
    h3 {
        font-size: 2vw;
        font-weight: bold;
        color: $red;
    }
    .newForm_heading {
        font-family: $poppins;
        font-size: 3vw;
        min-height: 8vw;
        font-weight: bold;
        color: whitesmoke;  
        text-transform: uppercase;
        background-color: $navy;
        width: 75vw;
        position: relative;
        margin: .5vw 0.5vw;
        padding: 1vw;
        text-align: left;
        border-radius: 0px 025px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1vw solid #001242;
    }
    .newForm_body {
        width: 75vw;
        border-radius: 0px 0px 025px 0px;
        border: .75vw solid #001242;
        padding: 2vw 9.3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titleInput {
        width: 50vw;
        height: 3vw;
        font-size: 1.5vw;
        border: none;
        border-bottom: 2px solid $red;
        border-radius: 10px 10px 0 0;
        margin: 2.5vw;
        background-color: whitesmoke;
        
    }
    .titleInput:focus{
        outline: none;
        border-bottom: 4px solid $mintish;
        background: rgba(146, 219, 229, 0.30); 
    }
    .textArea {
        width: 50vw;
        font-size: 1.5vw;
        border: none;
        border-bottom: 2px solid $red;
        border-radius: 10px 10px 0 0;
        margin: 2.5vw;
        height: 3vw;
        background-color: whitesmoke;
    }
    .textArea:focus{
        outline: none;
        border-bottom: 4px solid $mintish;
        background: rgba(146, 219, 229, 0.30);
        min-height: 10vw;
    }

    .formBtn {
        text-transform: uppercase;
        background-color: whitesmoke;
        font-family: $poppins;
        font-size: 1.5vw;
        color: $navy;
        padding: .5vw 2vw;
        margin: 1.5vw;
        border-radius: 5px;

    }    
    .formBtn:hover{
        background-color: $mintish;
        color: white;
        @include boxShadow(2px);
        // @include neonShadow($mintish);
        
    } 
}
.logoutBtn {
    text-transform: uppercase;
    background-color: white;
    font-family: $poppins;
    font-size: 1.5vw;
    color: $navy;
    @include boxShadow(1px);
    padding: .5vw 2vw;
    margin: 2.5vw;
    border-radius: 5px;
}
.logoutBtn:hover{
    background-color: $mintish;
    color: white;
    // @include neonShadow($mintish);
    
}

.currentPosts {
    @extend .newForm;
    
}
.editorTitle {
    font-family: $poppins;
    font-size: 4vw;
    min-height: 8vw;
    font-weight: bold;
    color: whitesmoke;  
    text-transform: uppercase;
    background-color: $navy;
    width: 75vw;
    position: relative;
    margin: .75vw 0;
    padding: 1.5vw;
    text-align: left;
    border-radius: 0px 025px 0px 0px;
    border: 1vw solid #001242;
}
.editMain {
    width: 75vw;
    border-radius: 0px 0px 025px 0px;
    border: .75vw solid #001242;
    padding: 2vw 9.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// style={{padding: '20px', margin: 'auto', backgroundColor: '#c4c4c4', width: '90%', borderRadius: '10px', display: 'flex', flexDirection: 'column', alignItems: 'center',boxShadow:'0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'}}

.editHeading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}
.editBody {
    @extend .editHeading;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 7vw 2vw 7vw;
}
.editTitle {
    border-radius: 10px 10px 0 0;
    width: 50vw;
    height: 3vw;
    font-size: 1.5vw;
    border: none;
    border-bottom: 1px solid $red;
    margin: 1vw;

}

.editTitle:focus{
    outline: none;
    border-bottom: 4px solid $pink;
    background: rgba(255, 82, 218, 0.30); 
}

.editContent {
    min-height: 5vw;
    border-radius: 10px 10px 0 0;
    width: 50vw;
    font-size: 1.5vw;
    border: none;
    border-bottom: 1px solid $red;
    margin: 1vw;

}

.editContent:focus{
    outline: none;
    border-bottom: 4px solid $pink;
    background: rgba(255, 82, 218, 0.30);
    min-height: 10vw; 
}

.editBtn {
    text-transform: uppercase;
    background-color: white;
    font-family: $poppins;
    font-size: 1.5vw;
    color: $navy;
    // @include boxShadow(1px);
    padding: .5vw 2vw;
    margin: 2.5vw;
    border-radius: 5px;
}    
.editBtn:hover{
    background-color: $pink;
    color: white;
    @include boxShadow(1px);
    // @include neonShadow($mintish);
    
}

hr{
    height: .5vw;
    background-color: $navy;
    width: 60vw;
    padding-bottom: .25vw;
    margin-top: -1vw; 
}