.videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 40vw;
    width: 100%;
    background-image: linear-gradient( rgba(3, 3, 3, 0.5),#0B0E0F00);
  
}

.videoStyle {
    position: absolute;
    width: 100vw;
    height: auto;
    top: -6.3vw;
    left: 0;
    background-color: black;
}
video{
    width: 100vw;
}

// video.vsc-initialized {
//     width: 100vw;
// }