.videoStyle {
    position: absolute;
    width: 100vw;
    height: auto;
    top: -6.3vw;
    left: 0;
    background-color: black;
}
video{
    width: 100vw;
}

// video.vsc-initialized {
//     width: 100vw;
// }