$myVar: #000;
$blue: #123123;

$pink: #FF52D9;
$mintish: #92DCE5;
$navy: #001242;
$gray: #7D827E;
$red: #290628;
$black: #0B0E0F;
$color2: #80c9dd;
$color3: #d5eaf0;
$color1: #62bbd3;
$color2-1: #fff;

