@import url('https://fonts.googleapis.com/css?family=Poppins:500|Bungee|Monoton');
@import url('https://fonts.googleapis.com/css?family=Monton');

$poppins: 'Poppins', sans-serif;
$bungee: 'Bungee', cursive;
$monton: 'Monoton', cursive;