@import url("https://fonts.googleapis.com/css?family=Poppins:500");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

.menu-container {
  position: fixed;
  top: 0;
  width: 100;
  height: 8.25vw;
  z-index: 5; }

.menuLogo {
  background-color: #001242;
  border-radius: 50%;
  border: 2px solid white;
  width: 8vw;
  height: 8vw;
  z-index: 2;
  position: absolute;
  left: 5.75vw;
  top: 0vw;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.2), 0 6px 12px 5px rgba(0, 0, 0, 0.19); }

#logo {
  width: 6vw;
  fill: #FF52D9;
  justify-items: center;
  align-content: center;
  fill: #FF52D9; }

.listContainer {
  width: 50vw;
  height: 8vw; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4vw;
  Margin-left: 10vw;
  height: 7vw;
  width: 100vw;
  z-index: 2;
  list-style-type: none;
  text-decoration: none; }

li {
  text-decoration: none;
  color: white;
  height: 3vw;
  padding: 0.25vw 2vw;
  background-color: none;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-items: center; }
  li #link {
    color: white;
    font-weight: bold; }

li:hover {
  background-color: #FF52D9;
  color: #290628;
  box-shadow: #FFF 0px 0px 0.25px, #FFF 0px 0px 1px, #FFF 0px 0px 1.75px, #FF52D9 0px 0px 2.5px, #FF52D9 0px 0px 3.75px, #FF52D9 0px 0px 5px, #FF52D9 0px 0px 6.5px, #FF52D9 0px 0px 9px;
  cursor: pointer; }
  li:hover #link {
    color: #290628; }

li:active {
  background-color: #001242;
  color: white; }
  li:active #link {
    background-color: #001242;
    color: white; }

.barShape {
  width: 100vw;
  height: 8.25vw;
  clip-path: polygon(100vw 10vw, 100vw 0vw, 70vw 0vw, 9vw 6vw, 0vw 2vw, 0vw 100vw);
  background-color: #290628;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0px 5px 1px #92DCE5;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2), 0 6px 12px 2px rgba(0, 0, 0, 0.19); }

.homeContainer {
  background-color: #0B0E0F; }

.heroLogo {
  position: relative;
  top: 12vw;
  left: 0;
  z-index: 1;
  width: 50vw; }

.home_body_container {
  position: relative;
  left: 0;
  top: 17.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; }
  .home_body_container .bodyOne {
    width: 100vw;
    height: 25vw;
    clip-path: polygon(0 17vw, 0 0, 100vw 0vw, 100vw 25vw);
    background-color: #92DCE5;
    z-index: 3;
    top: 0;
    left: 0;
    color: #001242;
    padding: 2.5vw;
    padding-bottom: 5vw;
    margin: 0; }
  .home_body_container .back_img_6 {
    width: 100vw;
    height: auto;
    position: relative;
    bottom: 25vw;
    z-index: 1; }
  .home_body_container .bodyTwo {
    width: 100vw;
    height: 20vw;
    background-color: #92DCE5;
    z-index: 2;
    position: relative;
    bottom: 30vw;
    color: #001242;
    padding: 2.5vw;
    padding-bottom: 5vw;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .home_body_container .back_img_8 {
    width: 100vw;
    height: auto;
    position: relative;
    bottom: 30vw;
    z-index: 1; }

h3 {
  font-size: 3vw; }

p {
  margin: 2.5vw;
  font-size: 2vw; }

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 40vw;
  width: 100%;
  background-image: linear-gradient(rgba(3, 3, 3, 0.5), #0B0E0F00); }

.videoStyle {
  position: absolute;
  width: 100vw;
  height: auto;
  top: -6.3vw;
  left: 0;
  background-color: black; }

video {
  width: 100vw; }

.footer {
  width: 100vw;
  position: relative;
  bottom: 0;
  left: 0;
  height: 6vw;
  margin-top: 5px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #290628; }

.footerLogo {
  width: 8vw;
  height: 8vw;
  z-index: 2;
  display: grid;
  align-items: center;
  justify-content: center; }

#logo {
  width: 6vw;
  fill: #FF52D9;
  justify-items: center;
  align-content: center;
  fill: #FF52D9; }

.footerBtn {
  text-decoration: none;
  color: white;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  font-weight: bold; }

.footerBtn:hover {
  color: #FF52D9;
  box-shadow: #FFF 0px 0px 1.25px, #FFF 0px 0px 2.5px, #FFF 0px 0px 3.75px, #FF52D9 0px 0px 5px, #FF52D9 0px 0px 7.5px, #FF52D9 0px 0px 10px, #FF52D9 0px 0px 12.5px, #FF52D9 0px 0px 17.5px;
  cursor: pointer; }

.footerBtn:active {
  background-color: #001242;
  color: white; }

.footerBarShape {
  width: 100vw;
  height: 6vw;
  background-color: #290628;
  z-index: -1; }

.imageStyle {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  overflow: hidden; }
  .imageStyle img {
    width: 100vw;
    overflow: hidden; }

.adminHeader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-image: linear-gradient(rgba(224, 226, 226, 0.8), #0B0E0F00);
  z-index: 1;
  width: 100vw;
  height: 59.3vw;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; }

#adminHeader {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  border: 2vw solid whitesmoke;
  display: grid;
  text-align: center;
  align-content: center;
  font-size: 11vw;
  font-weight: bold;
  padding: 3vw;
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2), 0 6px 12px 0px rgba(0, 0, 0, 0.19);
  text-shadow: 1px 1px 13px rgba(2, 8, 1, 0.5); }

.adminBody {
  position: relative;
  margin: 50vw auto 5vw auto;
  width: 90vw;
  background-color: whitesmoke;
  z-index: 3;
  border-radius: 20px;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2), 0 6px 12px 3px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7.5vw; }

.accountInfo {
  width: 80vw;
  height: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  margin-top: 7.5vw;
  color: whitesmoke;
  background-color: #001242;
  border-radius: 0px 25px 25px 0;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2), 0 6px 12px 3px rgba(0, 0, 0, 0.19); }
  .accountInfo #profilePic {
    width: 10vw;
    border-radius: 50%;
    box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2), 0 6px 12px 1px rgba(0, 0, 0, 0.19); }

.newForm, .currentPosts {
  width: 80vw;
  height: auto;
  background-color: whitesmoke;
  border-radius: 0px 25px 0px 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.75vw;
  padding: 3vw;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2), 0 6px 12px 1px rgba(0, 0, 0, 0.19); }
  .newForm h3, .currentPosts h3 {
    font-size: 2vw;
    font-weight: bold;
    color: #290628; }
  .newForm .newForm_heading, .currentPosts .newForm_heading {
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    min-height: 8vw;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #001242;
    width: 75vw;
    position: relative;
    margin: .5vw 0.5vw;
    padding: 1vw;
    text-align: left;
    border-radius: 0px 025px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1vw solid #001242; }
  .newForm .newForm_body, .currentPosts .newForm_body {
    width: 75vw;
    border-radius: 0px 0px 025px 0px;
    border: .75vw solid #001242;
    padding: 2vw 9.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .newForm .titleInput, .currentPosts .titleInput {
    width: 50vw;
    height: 3vw;
    font-size: 1.5vw;
    border: none;
    border-bottom: 2px solid #290628;
    border-radius: 10px 10px 0 0;
    margin: 2.5vw;
    background-color: whitesmoke; }
  .newForm .titleInput:focus, .currentPosts .titleInput:focus {
    outline: none;
    border-bottom: 4px solid #92DCE5;
    background: rgba(146, 219, 229, 0.3); }
  .newForm .textArea, .currentPosts .textArea {
    width: 50vw;
    font-size: 1.5vw;
    border: none;
    border-bottom: 2px solid #290628;
    border-radius: 10px 10px 0 0;
    margin: 2.5vw;
    height: 3vw;
    background-color: whitesmoke; }
  .newForm .textArea:focus, .currentPosts .textArea:focus {
    outline: none;
    border-bottom: 4px solid #92DCE5;
    background: rgba(146, 219, 229, 0.3);
    min-height: 10vw; }
  .newForm .formBtn, .currentPosts .formBtn {
    text-transform: uppercase;
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    color: #001242;
    padding: .5vw 2vw;
    margin: 1.5vw;
    border-radius: 5px; }
  .newForm .formBtn:hover, .currentPosts .formBtn:hover {
    background-color: #92DCE5;
    color: white;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2), 0 6px 12px 2px rgba(0, 0, 0, 0.19); }

.logoutBtn {
  text-transform: uppercase;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  color: #001242;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2), 0 6px 12px 1px rgba(0, 0, 0, 0.19);
  padding: .5vw 2vw;
  margin: 2.5vw;
  border-radius: 5px; }

.logoutBtn:hover {
  background-color: #92DCE5;
  color: white; }

.editorTitle {
  font-family: "Poppins", sans-serif;
  font-size: 4vw;
  min-height: 8vw;
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
  background-color: #001242;
  width: 75vw;
  position: relative;
  margin: .75vw 0;
  padding: 1.5vw;
  text-align: left;
  border-radius: 0px 025px 0px 0px;
  border: 1vw solid #001242; }

.editMain {
  width: 75vw;
  border-radius: 0px 0px 025px 0px;
  border: .75vw solid #001242;
  padding: 2vw 9.3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.editHeading, .editBody {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.editBody {
  flex-wrap: wrap;
  align-content: center;
  padding: 0 7vw 2vw 7vw; }

.editTitle {
  border-radius: 10px 10px 0 0;
  width: 50vw;
  height: 3vw;
  font-size: 1.5vw;
  border: none;
  border-bottom: 1px solid #290628;
  margin: 1vw; }

.editTitle:focus {
  outline: none;
  border-bottom: 4px solid #FF52D9;
  background: rgba(255, 82, 218, 0.3); }

.editContent {
  min-height: 5vw;
  border-radius: 10px 10px 0 0;
  width: 50vw;
  font-size: 1.5vw;
  border: none;
  border-bottom: 1px solid #290628;
  margin: 1vw; }

.editContent:focus {
  outline: none;
  border-bottom: 4px solid #FF52D9;
  background: rgba(255, 82, 218, 0.3);
  min-height: 10vw; }

.editBtn {
  text-transform: uppercase;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  color: #001242;
  padding: .5vw 2vw;
  margin: 2.5vw;
  border-radius: 5px; }

.editBtn:hover {
  background-color: #FF52D9;
  color: white;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2), 0 6px 12px 1px rgba(0, 0, 0, 0.19); }

hr {
  height: .5vw;
  background-color: #001242;
  width: 60vw;
  padding-bottom: .25vw;
  margin-top: -1vw; }

.imageStyle {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  overflow: hidden; }
  .imageStyle img {
    width: 100vw;
    overflow: hidden; }

.newsHeader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-image: linear-gradient(#FF52D9, #FF52D900);
  z-index: 1;
  width: 100vw;
  height: 40vw;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; }

#newsHeader {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  border: 2vw solid whitesmoke;
  display: grid;
  text-align: center;
  align-content: center;
  opacity: 1;
  font-size: 11vw;
  font-weight: bold;
  padding: 1vw;
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2), 0 6px 12px 0px rgba(0, 0, 0, 0.19);
  text-shadow: 1px 1px 13px rgba(2, 8, 1, 0.5); }

.newsBody {
  position: relative;
  top: 0;
  left: 0;
  margin: 36vw auto 5vw auto;
  width: 90vw;
  background-color: whitesmoke;
  z-index: 3;
  border-radius: 20px;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2), 0 6px 12px 3px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7.5vw; }

.newsPost {
  width: 75vw;
  background-color: whitesmoke;
  border-top: none;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  margin: 5vw 2vw 0 2vw; }
  .newsPost .newsTitle {
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    min-height: 8vw;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #001242;
    width: 75vw;
    position: relative;
    margin: .75vw 0;
    padding: 1.5vw;
    text-align: left;
    border-radius: 0px 025px 0px 0px;
    border: 1vw solid #001242; }
  .newsPost .newsLine {
    background-color: #7D827E;
    width: 95vw;
    border: none;
    position: relative;
    top: 1.5vw;
    height: 1vw; }
  .newsPost .newsPostP {
    width: 75vw;
    border-radius: 0px 0px 025px 0px;
    border: .75vw solid #001242;
    font-family: sans-serif;
    text-transform: none;
    text-align: left !important;
    text-indent: auto;
    padding: 2vw 2vw;
    word-spacing: .05vw;
    overflow: hidden;
    font-size: 1.5vw; }

.regImage {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden; }
  .regImage img {
    width: 100vw;
    overflow: hidden; }

.regHeader {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-image: linear-gradient(white, #0B0E0F00);
  z-index: 1;
  width: 100vw;
  height: 59.3vw;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; }

#regHeader {
  font-family: "Poppins", sans-serif;
  color: white;
  border: 2vw solid white;
  display: grid;
  text-align: center;
  align-content: center;
  font-size: 11vw;
  font-weight: bold;
  padding: 3vw;
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2), 0 6px 12px 0px rgba(0, 0, 0, 0.19);
  text-shadow: 1px 1px 13px rgba(2, 8, 1, 0.5); }

.rsvp_header {
  font-family: "Poppins", sans-serif;
  font-size: 3.5vw;
  min-height: 10vw;
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
  background-color: #001242;
  width: 80vw;
  position: relative;
  margin-bottom: .75vw;
  text-align: left;
  border-radius: 0px 025px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1vw solid #001242; }

.regBody {
  position: relative;
  overflow: scroll;
  top: 0;
  left: 0;
  margin: 57vw auto 5vw auto;
  width: 90vw;
  background-color: whitesmoke;
  z-index: 3;
  border-radius: 20px;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2), 0 6px 12px 3px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5vw;
  padding-top: 5vw; }

.newReg {
  width: 80vw;
  border-radius: 0px 0px 025px 0px;
  border: .75vw solid #001242;
  padding: 2.5vw 0;
  margin: .5vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .newReg h3 {
    font-size: 2vw;
    font-weight: bold;
    color: #290628; }
  .newReg .regInput {
    width: 50vw;
    height: 3.5vw;
    font-size: 1.5vw;
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid #290628;
    border-radius: 10px 10px 0 0;
    margin: 1vw 2.5vw; }
  .newReg .regInput:focus {
    outline: none;
    border-bottom: 2px solid #92DCE5;
    background: rgba(146, 219, 229, 0.3); }
  .newReg .valueSelector {
    width: 20vw;
    margin: 0 5vw;
    height: 3vw;
    font-size: 1.5vw;
    border: none;
    border-bottom: 2px solid #290628;
    border-radius: 0; }
  .newReg .valueSelector:focus {
    outline: none;
    border-bottom: 2px solid #92DCE5;
    background: rgba(146, 219, 229, 0.3); }

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.formBtn {
  text-transform: uppercase;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  color: #290628;
  margin: 2.5vw 0 0 0; }

.formBtn:hover {
  background-color: #92DCE5;
  color: white; }

.detailsLinkLeft {
  text-transform: uppercase;
  background-color: #001242;
  font-family: "Poppins", sans-serif;
  font-size: 2.25vw;
  color: whitesmoke;
  padding: 1vw 2vw;
  margin: 0 .75vw 0 0;
  height: 15vw;
  width: 25vw;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 25px 0 0 25px; }

.detailsLinkLeft:hover {
  color: white;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2), 0 6px 12px 2px rgba(0, 0, 0, 0.19); }

.detailsLinkRight {
  text-transform: uppercase;
  background-color: #001242;
  font-family: "Poppins", sans-serif;
  font-size: 2.25vw;
  color: whitesmoke;
  padding: 1vw 2vw;
  margin: 0 0 0 .75vw;
  height: 15vw;
  width: 25vw;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 0 25px 25px 0; }

.detailsLinkRight:hover {
  color: white;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2), 0 6px 12px 2px rgba(0, 0, 0, 0.19); }

.hsContainer {
  background-color: #0B0E0F; }

.hs_body_container {
  position: relative;
  left: 0;
  top: 42.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; }
  .hs_body_container .hsbodyOne {
    width: 100vw;
    height: 25vw;
    clip-path: polygon(0 17vw, 0 0, 100vw 0vw, 100vw 25vw);
    background-color: #92DCE5;
    z-index: 3;
    top: 0;
    left: 0;
    color: #001242;
    padding: 2.5vw;
    padding-bottom: 5vw;
    margin: 0; }
  .hs_body_container .hsback_img_5 {
    width: 100vw;
    height: auto;
    position: relative;
    bottom: 25vw;
    z-index: 1; }
  .hs_body_container .hsbodyTwo {
    width: 100vw;
    height: 25vw;
    background-color: #92DCE5;
    z-index: 2;
    position: relative;
    bottom: 30vw;
    color: #001242;
    padding: 2.5vw;
    padding-bottom: 5vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: grid;
    grid-template-areas: 'header header' 'left right' 'pic-left pic-right';
    grid-gap: 2vw; }
  .hs_body_container .hsback_img_8 {
    width: 100vw;
    height: auto;
    position: relative;
    bottom: 38vw;
    z-index: 1; }

#headers {
  grid-area: header; }

.subP_one {
  display: flex;
  flex-direction: column;
  grid-area: left; }

.subP_two {
  display: flex;
  flex-direction: column;
  grid-area: right; }

h3 {
  font-size: 3vw; }

h4 {
  font-size: 2.5vw; }

p {
  margin: 2.5vw;
  font-size: 1.5vw; }

#nraypic {
  width: 30vw;
  height: auto;
  grid-area: pic-left; }

#frankgoodpic {
  width: 30vw;
  height: auto;
  grid-area: pic-right; }

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  z-index: -5;
  background: radial-gradient(ellipse at bottom, white 0%, #7D827ECC 100%); }
