@import url("https://fonts.googleapis.com/css?family=Poppins:500");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  outline: none; }

.menu-container {
  position: fixed;
  top: 0;
  width: 100;
  height: 8.25vw;
  z-index: 5; }

.menuLogo {
  background-color: #001242;
  border-radius: 50%;
  border: 2px solid white;
  width: 8vw;
  height: 8vw;
  z-index: 2;
  position: absolute;
  left: 5.75vw;
  top: 0vw;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.2), 0 6px 12px 5px rgba(0, 0, 0, 0.19); }

#logo {
  width: 6vw;
  fill: #FF52D9;
  justify-items: center;
  align-content: center;
  fill: #FF52D9; }

.listContainer {
  width: 50vw;
  height: 8vw; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4vw;
  Margin-left: 10vw;
  height: 7vw;
  width: 100vw;
  z-index: 2;
  list-style-type: none;
  text-decoration: none; }

li {
  text-decoration: none;
  color: white;
  height: 3vw;
  padding: 0.25vw 2vw;
  background-color: none;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-items: center; }
  li #link {
    color: white;
    font-weight: bold; }

li:hover {
  background-color: #FF52D9;
  color: #290628;
  box-shadow: #FFF 0px 0px 0.25px, #FFF 0px 0px 1px, #FFF 0px 0px 1.75px, #FF52D9 0px 0px 2.5px, #FF52D9 0px 0px 3.75px, #FF52D9 0px 0px 5px, #FF52D9 0px 0px 6.5px, #FF52D9 0px 0px 9px;
  cursor: pointer; }
  li:hover #link {
    color: #290628; }

li:active {
  background-color: #001242;
  color: white; }
  li:active #link {
    background-color: #001242;
    color: white; }

.barShape {
  width: 100vw;
  height: 8.25vw;
  clip-path: polygon(100vw 10vw, 100vw 0vw, 70vw 0vw, 9vw 6vw, 0vw 2vw, 0vw 100vw);
  background-color: #290628;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0px 5px 1px #92DCE5;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2), 0 6px 12px 2px rgba(0, 0, 0, 0.19); }

.Home {
  width: 100vw; }

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 45vw;
  width: 100%;
  background-image: linear-gradient(rgba(224, 224, 224, 0.705), #0B0E0F00); }

.videoStyle {
  position: absolute;
  width: 100vw;
  height: auto;
  top: -6.3vw;
  left: 0;
  background-color: black; }

video {
  width: 100vw; }

.footer {
  width: 100vw;
  position: relative;
  bottom: 0;
  left: 0;
  height: 6vw;
  margin-top: 5px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #290628; }

.footerLogo {
  width: 8vw;
  height: 8vw;
  z-index: 2;
  display: grid;
  align-items: center;
  justify-content: center; }

#logo {
  width: 6vw;
  fill: #FF52D9;
  justify-items: center;
  align-content: center;
  fill: #FF52D9; }

.footerBtn {
  text-decoration: none;
  color: white;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  font-weight: bold; }

.footerBtn:hover {
  color: #FF52D9;
  box-shadow: #FFF 0px 0px 1.25px, #FFF 0px 0px 2.5px, #FFF 0px 0px 3.75px, #FF52D9 0px 0px 5px, #FF52D9 0px 0px 7.5px, #FF52D9 0px 0px 10px, #FF52D9 0px 0px 12.5px, #FF52D9 0px 0px 17.5px;
  cursor: pointer; }

.footerBtn:active {
  background-color: #001242;
  color: white; }

.footerBarShape {
  width: 100vw;
  height: 6vw;
  background-color: #290628;
  z-index: -1; }

.imageStyle {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  overflow: hidden; }
  .imageStyle img {
    width: 100vw;
    overflow: hidden; }

.adminHeader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-image: linear-gradient(rgba(224, 226, 226, 0.8), #0B0E0F00);
  z-index: 1;
  width: 100vw;
  height: 59.3vw;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; }

#adminHeader {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  border: 2vw solid whitesmoke;
  display: grid;
  text-align: center;
  align-content: center;
  font-size: 11vw;
  font-weight: bold;
  padding: 3vw;
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2), 0 6px 12px 0px rgba(0, 0, 0, 0.19);
  text-shadow: 1px 1px 13px rgba(2, 8, 1, 0.5); }

.adminBody {
  position: relative;
  margin: 50vw auto 5vw auto;
  width: 90vw;
  background-color: whitesmoke;
  z-index: 3;
  border-radius: 20px;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2), 0 6px 12px 3px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7.5vw; }

.accountInfo {
  width: 80vw;
  height: 10vw;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  margin-top: 7.5vw;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2), 0 6px 12px 3px rgba(0, 0, 0, 0.19); }
  .accountInfo #profilePic {
    width: 10vw;
    border-radius: 50%;
    box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2), 0 6px 12px 3px rgba(0, 0, 0, 0.19); }

.newForm, .currentPosts {
  width: 80vw;
  background-color: white;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.75vw;
  padding: 3vw;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2), 0 6px 12px 1px rgba(0, 0, 0, 0.19); }
  .newForm h3, .currentPosts h3 {
    font-size: 2vw;
    font-weight: bold;
    color: #290628; }
  .newForm .titleInput, .currentPosts .titleInput {
    width: 50vw;
    height: 3vw;
    font-size: 1.5vw;
    border: none;
    border-bottom: 2px solid #290628;
    border-radius: 10px 10px 0 0;
    margin: 2.5vw; }
  .newForm .titleInput:focus, .currentPosts .titleInput:focus {
    outline: none;
    border-bottom: 4px solid #92DCE5;
    background: rgba(146, 219, 229, 0.3); }
  .newForm .textArea, .currentPosts .textArea {
    width: 50vw;
    font-size: 1.5vw;
    border: none;
    border-bottom: 2px solid #290628;
    border-radius: 10px 10px 0 0;
    margin: 2.5vw;
    height: 3vw; }
  .newForm .textArea:focus, .currentPosts .textArea:focus {
    outline: none;
    border-bottom: 4px solid #92DCE5;
    background: rgba(146, 219, 229, 0.3);
    min-height: 10vw; }
  .newForm .formBtn, .currentPosts .formBtn {
    text-transform: uppercase;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    color: #290628;
    box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2), 0 6px 12px 1px rgba(0, 0, 0, 0.19);
    padding: .5vw 2vw;
    margin: 2.5vw;
    border-radius: 5px; }
  .newForm .formBtn:hover, .currentPosts .formBtn:hover {
    background-color: #92DCE5;
    color: white; }

.logoutBtn {
  text-transform: uppercase;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  color: #290628;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2), 0 6px 12px 1px rgba(0, 0, 0, 0.19);
  padding: .5vw 2vw;
  margin: 2.5vw;
  border-radius: 5px; }

.logoutBtn:hover {
  background-color: #92DCE5;
  color: white; }

.editHeading, .editBody {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.editBody {
  flex-wrap: wrap;
  align-content: center;
  padding: 0 7vw 2vw 7vw; }

.editTitle {
  border-radius: 10px 10px 0 0;
  width: 50vw;
  height: 3vw;
  font-size: 1.5vw;
  border: none;
  border-bottom: 1px solid #290628;
  margin: 1vw; }

.editTitle:focus {
  outline: none;
  border-bottom: 4px solid #FF52D9;
  background: rgba(255, 82, 218, 0.3); }

.editContent {
  min-height: 5vw;
  border-radius: 10px 10px 0 0;
  width: 50vw;
  font-size: 1.5vw;
  border: none;
  border-bottom: 1px solid #290628;
  margin: 1vw; }

.editContent:focus {
  outline: none;
  border-bottom: 4px solid #FF52D9;
  background: rgba(255, 82, 218, 0.3);
  min-height: 10vw; }

.editBtn {
  text-transform: uppercase;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  color: #290628;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2), 0 6px 12px 1px rgba(0, 0, 0, 0.19);
  padding: .5vw 2vw;
  margin: 2.5vw;
  border-radius: 5px; }

.editBtn:hover {
  background-color: #FF52D9;
  color: white; }

hr {
  border: 0.25vw solid #290628;
  width: 80%;
  padding-bottom: .25vw;
  margin-top: -1vw; }

.imageStyle {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  overflow: hidden; }
  .imageStyle img {
    width: 100vw;
    overflow: hidden; }

.newsHeader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-image: linear-gradient(#FF52D9, #FF52D900);
  z-index: 1;
  width: 100vw;
  height: 40vw;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; }

#newsHeader {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  border: 2vw solid whitesmoke;
  display: grid;
  text-align: center;
  align-content: center;
  opacity: 1;
  font-size: 11vw;
  font-weight: bold;
  padding: 1vw;
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2), 0 6px 12px 0px rgba(0, 0, 0, 0.19);
  text-shadow: 1px 1px 13px rgba(2, 8, 1, 0.5); }

.newsBody {
  position: relative;
  top: 0;
  left: 0;
  margin: 36vw auto 5vw auto;
  width: 90vw;
  background-color: whitesmoke;
  z-index: 3;
  border-radius: 20px;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2), 0 6px 12px 3px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7.5vw; }

.newsPost {
  width: 75vw;
  background-color: #FFFFFFE6;
  border-radius: 0px 30px 50px 0px;
  border: 1vw solid #00124260;
  border-top: none;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  margin: 5vw 2vw 0 2vw; }
  .newsPost .newsTitle {
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    min-height: 7vw;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: #001242;
    width: 75vw;
    border-radius: 0px 50px 0 0;
    position: relative;
    margin: -2.5vw;
    padding: 1.5vw;
    text-align: left; }
  .newsPost .newsLine {
    background-color: #7D827E;
    width: 95vw;
    border: none;
    position: relative;
    top: 1.5vw;
    height: 1vw; }
  .newsPost .newsPostP {
    font-family: sans-serif;
    text-transform: none;
    text-align: left !important;
    text-indent: auto;
    padding: 4vw 2vw;
    word-spacing: .05vw;
    overflow: hidden;
    font-size: 1.5vw; }

.regImage {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  overflow: hidden; }
  .regImage img {
    width: 100vw;
    overflow: hidden; }

.regHeader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-image: linear-gradient(white, #0B0E0F00);
  z-index: 1;
  width: 100vw;
  height: 59.3vw;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif; }

#regHeader {
  font-family: "Poppins", sans-serif;
  color: white;
  border: 2vw solid white;
  display: grid;
  text-align: center;
  align-content: center;
  font-size: 11vw;
  font-weight: bold;
  padding: 3vw;
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2), 0 6px 12px 0px rgba(0, 0, 0, 0.19);
  text-shadow: 1px 1px 13px rgba(2, 8, 1, 0.5); }

.regBody {
  position: relative;
  margin: 50vw auto 5vw auto;
  width: 90vw;
  background-color: whitesmoke;
  z-index: 3;
  border-radius: 20px;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2), 0 6px 12px 3px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7.5vw; }
  .regBody .newReg {
    width: 80vw;
    background-color: #29062860;
    outline: 1vw solid #29062860;
    border: 1vw solid whitesmoke;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.75vw;
    padding: 3vw; }
    .regBody .newReg h3 {
      font-size: 2vw;
      font-weight: bold;
      color: #290628; }
    .regBody .newReg .regInput {
      width: 50vw;
      height: 3.5vw;
      font-size: 1.5vw;
      background-color: whitesmoke;
      border: none;
      border-bottom: 2px solid #290628;
      border-radius: 10px 10px 0 0;
      margin: 1vw 2.5vw; }
    .regBody .newReg .regInput:focus {
      outline: none;
      border-bottom: 4px solid #92DCE5;
      background: rgba(146, 219, 229, 0.3); }
    .regBody .newReg .valueSelector {
      width: 20vw;
      margin: 0 5vw;
      height: 3vw;
      font-size: 1.5vw;
      border: none;
      border-bottom: 2px solid #290628;
      border-radius: 0; }
    .regBody .newReg .valueSelector:focus {
      outline: none;
      border-bottom: 4px solid #92DCE5;
      background: rgba(146, 219, 229, 0.3); }
  .regBody .btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .regBody .formBtn {
    text-transform: uppercase;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    color: #290628;
    padding: .5vw 2vw;
    margin: 2.5vw; }
  .regBody .formBtn:hover {
    background-color: #92DCE5;
    color: white; }

.detailsLink {
  text-transform: uppercase;
  background-color: #290628;
  font-family: "Poppins", sans-serif;
  font-size: 2.25vw;
  color: whitesmoke;
  padding: 1vw 2vw;
  margin: 2.5vw;
  height: 15vw;
  width: 15vw;
  display: grid;
  justify-content: center;
  align-items: center; }

.detailsLink:hover {
  color: white;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2), 0 6px 12px 2px rgba(0, 0, 0, 0.19); }

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  z-index: -5;
  background: radial-gradient(ellipse at bottom, white 0%, #7D827ECC 100%); }
