.imageStyle{
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: auto;
    overflow: hidden;
    img {
        width: 100vw;
        overflow: hidden;
    }
    
}

.newsfeedPageBody {
    width: 100vw;
}
.newsHeader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-image: linear-gradient( #FF52D9,#FF52D900);
    z-index: 1; 
    width: 100vw;
    height: 40vw;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: $poppins;
} 
#newsHeader {
    font-family: $poppins;
    color: whitesmoke;
    border: 2vw solid whitesmoke;
    display: grid;
    text-align: center;
    align-content: center;
    opacity: 1;
    font-size: 12vmin;
    font-weight: bold;
    padding: 1vw;
    @include boxShadow(0px);
    @include textShadow(13px, 0.5)

}

.newsBody{
    position: relative;
    top: 0;
    left: 0;
    margin: 36vw auto 5vw auto;
    width: 90vw;
    background-color: whitesmoke;
    z-index: 3;
    border-radius: 20px;
    @include boxShadow(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7.5vw;
}

.newsPost {
    width: 75vw;
    // padding: 5vw 5vw 2vw 5vw;
    background-color:whitesmoke;
    // border-radius: 0px 30px 50px 0px;
    // // border-bottom: .25vw ridge $mintish;
    // border: 1vw solid #00124260;
    border-top: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    margin: 5vw 2vw 0 2vw;
    
    
    // @include boxShadow(1px);
    
    .newsTitle{
        font-family: $bungee;
        font-size: 5vmin;
        min-height: 8vw;
        font-weight: bold;
        color: whitesmoke;
        // background-image: radial-gradient($navy 0%, $red 100%);
        // -webkit-background-clip: text;
        // background-clip: text;
        // -webkit-text-fill-color: transparent;  
        text-transform: uppercase;
        background-color: $navy;
        width: 75vw;
        position: relative;
        margin: .75vw 0;
        padding: 1.5vw;
        text-align: left;
        border-radius: 0px 025px 0px 0px;
        border: 1vw solid #001242;

    }
    .newsPostP {
        width: 75vw;
        border-radius: 0px 0px 025px 0px;
        border: .75vw solid #001242;
        font-family: sans-serif;
        text-transform: none;
        text-align: left !important;
        text-indent: auto;
        padding: 2vw 2vw;
        word-spacing: .05vw;
        // height: 10vw;
        overflow: hidden;
        font-size: 2.5vmin;
        
    }

}


//meadia query for iphone X 
@media(width: 375px) and (height: 812px) {
    .newsBody {
        margin-bottom: 7.5vh;
    }
}